:root {
    --global-main-color: #AD2923;
    --global-color-text-background: rgb(76,76,76);
    --global-color-text-footer: rgb(185,185,185);
    --global-color-text-footer-hover: rgb(129,128,128);
    --global-background-color: white;
}