body, html{
    margin:0;
    padding:0;
    min-height:100vh;
}

/* Permet de garder le footer en bas de la page */
main{
    margin-top:93px;
    min-height: calc(100vh - 17.4px - 40px);
}

/* Paramétrage du bloc de présentation */
.presentation-page{
    display:flex;
    position:relative;
    height:230px;
    max-width:100%;
    max-height:auto;
    background-color: var(--global-main-color, #E05206);
}

/* Paramétrage du bloc de texte à gauche de l'icône */
.presentation-gauche{
    display:flex;
    flex-direction:column;
    width:70%;
    padding-left:60px;
}

/* Paramétrage du bloc droit de la présentation */
.presentation-droit{
    display: flex;
    width:30%;
    text-align:center;
    align-items:center;
    justify-content:center;
}

/* Modification du texte */
.titre-presentation{
    font-family:ArialBold;
    font-size:30px;
    color:var(--global-background-color, white);
}

.texte-presentation{
    font-family:ArialRegular;
    font-size:20px;
    margin:0;
    color:var(--global-background-color, white);
}

/* Modification de l'icône */
.png-presentation{
    width: 80px;
    height: 80px;
    padding:30px;
    border-radius: 50%; 
    color : var(--global-background-color, white);
    border: 1px solid var(--global-background-color, white);
}

/* Section principale de texte */
.section-principale{
    display:flex;
    flex-direction:column;
    padding: 30px 50px 20px;
    max-width:100%;
}

/* Modification du style du titre */
.titre-orange{
    margin:0;
    font-family:ArialBold;
    font-size:30px;
    color: var(--global-main-color, #E05206);
}

/* Modification du style du texte */
.texte, .section-principale li, .section-principale span{
    font-family:ArialRegular;
    font-size:15px;
    color:black;
}

/* Modification de la taille de l'image */
.image-chiffre{
    width:100%;
}

.liens-surete li{
    list-style:none;
}

.liens-surete li::before{
    content: "💬 ";
}

/* Suppression des décorations sur les liens */
.liens-surete a:visited, .liens-surete a:link, .liens-surete a:active{
    text-decoration-color:transparent;
}

.liens-surete span:hover{
    text-decoration:underline;
}

/* Adaptation à toutes les tailles d'écran */
@media screen and (max-width:800px){
    .presentation-gauche{
        padding-left:25px;
    }

    .titre-presentation{
        font-size:25px;
    }

    .section-principale{
        display:block;
        padding:20px;
    }
    
    .texte-presentation{
        font-size:18px;
    }
    
    /* Modification de l'icône */
    .png-presentation{
        width: 50px;
        height: 50px;
    }

    .titre-orange{
        font-size:20px;
    }

    .texte, .section-principale li, .section-principale span{
        font-size:12px;
    }
}

@media screen and (max-width:540px){
    .presentation-page{
        height:150px;
        width:100%;
    }

    .presentation-gauche{
        padding-left:15px;
    }

    .titre-presentation{
        font-size:20px;
    }
    
    .texte-presentation{
        font-size:13px;
    }

    .png-presentation{
        width: 30px;
        height: 30px;
        padding:20px;
    }    
}

@media screen and (max-width:390px){
    .presentation-page{
        height:130px;
    }

    .presentation-gauche{
        padding-left:15px;
    }

    .titre-presentation{
        font-size:15px;
    }
    
    .texte-presentation{
        font-size:10px;
    }

    .png-presentation{
        width: 25px;
        height: 25px;
        padding:20px;
    }    
}

@media screen and (max-width:285px){
    .presentation-page{
        height:100px;
    }

    .presentation-gauche{
        padding-left:10px;
        padding-top:5px;
        width:60%;
    }

    .titre-presentation{
        font-size:13px;
    }
    
    .texte-presentation{
        font-size:8px;
    }

    .png-presentation{
        width: 30px;
        height: 30px;
        padding:10px;
    }
}
